<section class="sidebar-section">
    <div class="iconBlock-parent">
        <div class="iconBlock">
            <img src="/assets/Icons/Black_Sidebar/Inventory.svg">
        </div>
    </div>
    <div class="iconBlock-parent">
        <div class="iconBlock">
            <img src="/assets/Icons/Black_Sidebar/Team.svg">
        </div>
    </div>
    <div class="iconBlock-parent">
        <div class="iconBlock">
            <img src="/assets/Icons/Black_Sidebar/Price.svg">
        </div>
    </div>
    <div class="iconBlock-parent">
        <div class="iconBlock">
            <img src="/assets/Icons/Black_Sidebar/Area.svg">
        </div>
    </div>
    <div class="iconBlock-parent">
        <div class="iconBlock">
            <img src="/assets/Icons/Black_Sidebar/Parts.svg">
        </div>
    </div>
</section>