@use 'src/assets/scss/mixinsTypo' as Mix;
@use 'src/assets/scss/variables' as Var;

.logo {
    width: 100%;

    svg {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 576px) {
    .logo {
        width: 100%;
        height: 12rem;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        padding-top: 1.75rem;
        padding-bottom: 2.6875rem;

        svg {
            width: 200px;
        }
    }
}