@use 'src/assets/scss/mixinsTypo' as Mix;
@use 'src/assets/scss/variables' as Var;

.logo {
    width: 100%;

    svg {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        width: 100%;

        svg {
            width: 200px;
        }
    }
}