@use 'src/assets/scss/Abstract/mixinsTypo' as Mix;

html,
body,
app-root,
app-common-login {
    height: 100%;
    margin: 0;
    display: block;
}

p {
    margin: 0;
}

app-login-form,
app-forget-password,
app-logo,
app-verify-email,
app-reset-password,
app-inventory,
app-edit-job {
    width: 100%;
    height: 100%;
}

app-navbar-right-menu {
    position: absolute;
    right: 0;
    top: 70px;
}

button:hover,
input[type="checkbox"]:hover {
    cursor: pointer;
}

button:hover:disabled {
    cursor: not-allowed;
}

@media screen and (max-width: 576px) {
    app-logo {
        height: 100%;
        display: flex;
        justify-content: center;
    }

    html,
    body,
    app-root,
    app-common-login {
        height: auto;
    }
}

@media screen and (min-height: 854px) and (max-width: 576px) {

    html,
    body,
    app-root,
    app-common-login {
        height: 100%;
    }

    app-logo {
        height: 30%;
    }
}