@use 'src/assets/scss/mixinsTypo' as Mix;

html,
body,
app-root,
app-common-login {
    height: 100%;
    margin: 0;
    display: block;
}

p {
    margin: 0;
}

app-login-form,
app-forget-password,
app-logo,
app-verify-email {
    width: 100%;
}

button:hover,
input[type="checkbox"]:hover {
    cursor: pointer;
}

button:hover:disabled {
    cursor: not-allowed;
}

@media screen and (max-width: 576px) {
    app-logo {
        height: 100%;
        display: flex;
        justify-content: center;
    }

    html,
    body,
    app-root,
    app-common-login {
        height: auto;
    }
}