<form [formGroup]="inventoryForm" class="inventory-form">
    <section class="inputGrid">
        <div class="inputBox">
            <label>Job Number*</label>
            <input type="number" placeholder="Enter Number" formControlName="Job_Number">
        </div>
        <div class="inputBox">
            <label>Job Description*</label>
            <input type="text" placeholder="Enter text" formControlName="Description">
        </div>
        <div class="inputBox">
            <label>Area</label>
            <select id="cars" name="cars" formControlName="Area">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="fiat">Fiat</option>
                <option value="audi">Audi</option>
            </select>
        </div>
        <div class="inputBox">
            <label>Part Number</label>
            <input type="text" placeholder="Enter number" formControlName="Part_Number">
        </div>
        <div class="inputBox">
            <label>Part Description</label>
            <input type="text" placeholder="Enter text" formControlName="Part_Description">
        </div>
        <div class="inputBox">
            <label>Quantity</label>
            <input type="number" placeholder="Enter number" formControlName="Quantity">
        </div>
    </section>
    <div class="btn-block">
        <button>{{btn_name|uppercase}}</button>
    </div>
</form>