<form [formGroup]="inventoryForm" class="inventory-form">
    <section class="inputGrid">
        <div class="inputBox">
            <label>Job Number*</label>
            <input type="number" placeholder="Enter Number" formControlName="Job_Number">
            <p class="error" [ngStyle]="{'visibility': !isValid.Job_Number ? 'visible' : 'hidden'}">{{!isEmpty.Job_Number
                ? 'Invalid' : 'Field is Required'}}</p>
        </div>
        <div class="inputBox">
            <label>Job Description*</label>
            <input type="text" placeholder="Enter text" formControlName="Description">
            <p class="error" [ngStyle]="{'visibility': !isValid.Description ? 'visible' : 'hidden'}">
                {{!isEmpty.Description ? 'Invalid' : 'Field is Required'}}</p>
        </div>
        <div class="inputBox">
            <label>Area</label>
            <select id="cars" name="cars" formControlName="Area">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="fiat">Fiat</option>
                <option value="audi">Audi</option>
            </select>
        </div>
        <div class="inputBox">
            <label>Part Number</label>
            <input type="text" placeholder="Enter number" formControlName="Part_Number">
            <p class="error" [ngStyle]="{'visibility': !isValid.Part_Number ? 'visible' : 'hidden'}">
                {{!isEmpty.Part_Number ? 'Invalid' : 'Field is Required'}}</p>
        </div>
        <div class="inputBox">
            <label>Part Description</label>
            <input type="text" placeholder="Enter text" formControlName="Part_Description">
            <p class="error" [ngStyle]="{'visibility': !isValid.Part_Description ? 'visible' : 'hidden'}">
                {{!isEmpty.Part_Description ? 'Invalid' : 'Field is Required'}}</p>
        </div>
        <div class="inputBox">
            <label>Quantity</label>
            <input type="number" placeholder="Enter number" formControlName="Quantity">
            <p class="error" [ngStyle]="{'visibility': !isValid.Quantity ? 'visible' : 'hidden'}">{{!isEmpty.Quantity ?
                'Invalid' : 'Field is Required'}}</p>
        </div>
    </section>
    <div class="btn-block">
        <button>{{btn_name|uppercase}}</button>
    </div>
</form>