@use 'src/assets/scss/Abstract/variables' as Var;

@mixin common($fontWeight, $fontSize, $lineHeight, $color) {
    font-family: Var.$Font-Family;
    font-weight: $fontWeight;
    font-size: $fontSize;
    line-height: $lineHeight;
    color: $color;
}

@mixin H1 {
    @include common(normal, 40px, 32px, Var.$Neutral-Color-Dark);
}

@mixin H2 {
    @include common(normal, 32px, 32px, Var.$Neutral-Color-Med);
}

@mixin H3 {
    @include common(normal, 28px, 24px, Var.$Neutral-Color-Dark);
}

@mixin H3-Bold {
    @include common(bold, 28px, 24px, Var.$Neutral-Color-Dark);
}

@mixin H4 {
    @include common(normal, 24px, 24px, Var.$Neutral-Color-Dark);
}

@mixin H5 {
    @include common(bold, 20px, 20px, Var.$Neutral-Color-Dark);
}

@mixin H6 {
    @include common(normal, 18px, 20px, Var.$Neutral-Color-Dark);
}

@mixin BTN {
    @include common(normal, 16px, 16px, Var.$Neutral-Color-Dark);
}

@mixin BTN-Bold {
    @include common(bold, 16px, 16px, Var.$Secondary-Color);
}

@mixin Label {
    @include common(normal, 16px, 19px, Var.$Neutral-Color-Med);
}

@mixin Placeholder {
    @include common(normal, 13px, 13px, Var.$Neutral-Color-Light);
}

@mixin Th {
    @include common(normal, 14px, 12px, Var.$Neutral-Color-Med);
}

@mixin Tr {
    @include Th;
}

@mixin Tr-Bold {
    @include common(bold, 16px, 16px, Var.$Neutral-Color-Dark )
}

@mixin Description {
    @include common(normal, 12px, 16px, Var.$Neutral-Color-Dark);
}

@mixin Body {
    @include Label;
}