$Primary-Color: #af2024;
$Secondary-Color: #00539F;
$Tertiary-Color-Lighter: #FFFFFF;
$Tertiary-Color-Light: #E5EEF5;
$Neutral-Color-Dark: #231F20;
$Neutral-Color-Light: #B2B2B2;
$Neutral-Color-Med: #333333;
$Hiline-Color-Light: #E4E9EC;
$Hiline-Color-Med: #414042;
$Warning-Color: #EB5757;
$Gray-3: #C0C0C0;
$Gray-4: #E0E0E0;
$Gray-1: #4C4D4F;
$Font-Family: 'Roboto', sans-serif;