<section class="add-user-section">
    <h3>{{heading}} User</h3>
    <form [formGroup]="inventoryForm" class="inventory-form">
        <section class="inputGrid">
            <div class="inputBox">
                <label>Employee Id*</label>
                <input type="number" placeholder="Enter Number" formControlName="Employee_Id" (focusout)="validation(0)"
                    (input)="validation(0)">
                <p class="error" [ngStyle]="{'visibility': !isValid.Employee_Id ? 'visible' : 'hidden'}">
                    {{!isEmpty.Employee_Id
                    ? 'Invalid' : 'Field is Required'}}</p>
            </div>
            <div class="inputBox">
                <label>Employee Name*</label>
                <input type="text" placeholder="Enter text" formControlName="Employee_Name" (focusout)="validation(1)"
                    (input)="validation(1)">
                <p class="error" [ngStyle]="{'visibility': !isValid.Employee_Name ? 'visible' : 'hidden'}">
                    {{!isEmpty.Employee_Name ? 'Invalid' : 'Field is Required'}}</p>
            </div>
            <div class="inputBox">
                <label>Select Role*</label>
                <select id="cars" name="cars" formControlName="Select_Role">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="fiat">Fiat</option>
                    <option value="audi">Audi</option>
                </select>
            </div>
            <div class="inputBox">
                <label>Password*</label>
                <input type="password" placeholder="Enter Password" formControlName="Password"
                    (focusout)="validation(3)" (input)="validation(3)">
                <p class="error" [ngStyle]="{'visibility': !isValid.Password ? 'visible' : 'hidden'}">
                    {{!isEmpty.Password ? 'Invalid' : 'Field is Required'}}</p>
            </div>
            <div class="inputBox">
                <label>Email*</label>
                <input type="email" placeholder="Enter Email" formControlName="Email" (focusout)="validation(4)"
                    (input)="validation(4)">
                <p class="error" [ngStyle]="{'visibility': !isValid.Email ? 'visible' : 'hidden'}">
                    {{!isEmpty.Email ? 'Invalid' : 'Field is Required'}}</p>
            </div>
        </section>
        <div class="btn-block">
            <button>{{btn_name}}</button>
        </div>
    </form>
</section>