<form [formGroup]="resetPass" (ngSubmit)="onSubmit()" class="loginForm">
    <h2>Reset Password</h2>
    <div class="descriptionBlock">
        <p class="description">Password must be alphanumeric and minimum 8 characters long</p>
    </div>

    <div class="inputBox">
        <label>New Password*</label>
        <input type="password" formControlName="password" placeholder="Enter New Password">
        <p class="error">Invalid Password Format</p>
    </div>
    <div class="inputBox">
        <label>Confirm New Password*</label>
        <input type="password" formControlName="confirmPassword" placeholder="Enter Confirm New Password"
            (blur)="onOut()">
        <p class="error" [ngStyle]="!passwordsSame ? {'visibility': 'visible'} : {'visibility': 'hidden'}">Passwords are
            not Same</p>
    </div>

    <button type="submit" [disabled]="!resetPass.valid"
        [ngClass]="[resetPass.valid ? 'submit-active' : 'submit-disabled']">Continue</button>
</form>