@use 'src/assets/scss/Abstract/mixinsTypo' as Mix;
@use 'src/assets/scss/Abstract/variables' as Var;
@use 'src/assets/scss/Mixins/loginForm' as LF;

.loginForm {
    @include LF.form;

    @media screen and (min-height: 854px) and (max-width: 576px) {
        height: 100%;
    }
}

.extra-options {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    align-items: flex-start;
    width: 76%;

    @media screen and (min-height: 854px) and (max-width: 576px) {
        height: 13%;
    }

    label {
        display: flex;
        align-items: center;

        .check {
            margin: 0;
            margin-right: 0.8rem;
            height: 18px;
            width: 18px;
            border: 2px solid Var.$Secondary-Color;
            border-radius: 4px;
        }

        span {
            @include Mix.Description;
        }
    }
}

.forget {
    @include Mix.Description;
    color: Var.$Secondary-Color;
    text-decoration: none;
}