<form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)" class="loginForm">
    <div class="heading-block">
        <h2>Login</h2>
    </div>
    <div class="inputBox">
        <label>Comapny Code*</label>
        <input type="text" formControlName="company_code" placeholder="Enter Company Code">
        <p class="error" [ngStyle]="{'visibility': !isValid.company_code ? 'visible' : 'hidden'}">{{!isEmpty.company_code
            ?
            'Invalid Company Code' : 'Company Code is Required'}}</p>
    </div>
    <div class="inputBox">
        <label>Email/Employee Id*</label>
        <input type="email" formControlName="email" placeholder="Enter Email/Employee ID">
        <p class="error" [ngStyle]="{'visibility': !isValid.email ? 'visible' : 'hidden'}">{{!isEmpty.email ? 'Invalid
            Email Address' : 'Email Address is Required'}}</p>
    </div>
    <div class="inputBox">
        <label>Password*</label>
        <input type="password" formControlName="password" placeholder="Enter Password">
        <p class="error" [ngStyle]="{'visibility': !isValid.password ? 'visible' : 'hidden'}">{{!isEmpty.password ?
            'Invalid Password' : 'Password is Required'}}</p>
    </div>
    <div class="extra-options">
        <label>
            <input type="checkbox" formControlName="rememberMe" class="check"><span>Remember Me</span>
        </label>
        <a routerLink="/forget-password" class="forget">Forgot Password</a>
    </div>

    <button type="submit" [disabled]="!loginForm.valid"
        [ngClass]="[loginForm.valid ? 'submit-active' : 'submit-disabled']">Login</button>
</form>