@use 'src/assets/scss/variables' as Var;
@use 'src/assets/scss/mixinsTypo' as Mix;

.footer-Section {
    height: 6.25rem;
    background-color: Var.$Hiline-Color-Med;
    z-index: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .logoBlock {
        margin-right: 2.8rem;
    }

    .copyrightBlock h6 {
        @include Mix.H6;
        color: Var.$Tertiary-Color-Lighter;
        margin: 0;
    }
}