<form [formGroup]="forgetPass" (ngSubmit)="onSubmit()" class="loginForm">
    <div class="heading-block">
        <h2>Forget Password</h2>
    </div>
    <div class="inputBox">
        <label>Comapny Code*</label>
        <input type="text" formControlName="company_code" placeholder="Enter Company Code">
        <p class="error">Invalid Company Code</p>
    </div>
    <div class="inputBox">
        <label>Email/Employee Id*</label>
        <input type="email" formControlName="email" placeholder="Enter Email/Employee ID">
        <p class="error">Invalid Email Address</p>
    </div>

    <button type="submit" [disabled]="!forgetPass.valid"
        [ngClass]="[forgetPass.valid ? 'submit-active' : 'submit-disabled']">Continue</button>
    <h6 class="goBack">Return to <a routerLink="/">Login</a></h6>
</form>