<table class="data-table">
    <tr>
        <th class="bl0">
            <div><input type="checkbox">Job#<img src="assets/Icons/SortUp&Down.svg"></div>
        </th>
        <th>
            <div>Job Description</div>
        </th>
        <th>
            <div>Date<img src="assets/Icons/SortUp&Down.svg"></div>
        </th>
        <th>
            <div>Total Quantity<img src="assets/Icons/SortUp&Down.svg"></div>
        </th>
        <th>
            <div>Invoiced<img src="assets/Icons/SortUp&Down.svg"></div>
        </th>
        <th class="br0">
            <div>Actions</div>
        </th>
    </tr>
    <tr *ngFor="let d of data; even as isEven; odd as isOdd"
        [ngStyle]="{ 'background-color': isEven ? '#e5eef5':'#ffffff'}">
        <td class="bl0">
            <div><input type="checkbox"><span class="id">{{d.id}}</span></div>
        </td>
        <td>
            <div>{{d.description}}</div>
        </td>
        <td>
            <div>{{d.date}}</div>
        </td>
        <td>
            <div class="quantity-block">{{d.quantity}}</div>
        </td>
        <td>
            <div class="invoiced-block">
                <span [ngStyle]="{ 'color': d.invoiced === 'Open' ? '#219653':'#F2994A'}">{{d.invoiced}}</span>
                <img src="assets/Icons/Dropdown_arrow.svg">
            </div>
        </td>
        <td>
            <div>
                <img src="assets/Icons/Edit.svg" class="mr1" (click)="openEdit()">
                <img src="assets/Icons/Delete.svg" (click)="deleteRow()">
            </div>
        </td>
    </tr>
</table>