<table class="data-table">
    <tr>
        <th class="bl0">
            <div><input type="checkbox">Job#<img src="assets/Icons/SortUp&Down.svg"></div>
        </th>
        <th>
            <div>Job Description</div>
        </th>
        <th>
            <div>Date<img src="assets/Icons/SortUp&Down.svg"></div>
        </th>
        <th>
            <div>Total Quantity<img src="assets/Icons/SortUp&Down.svg"></div>
        </th>
        <th>
            <div>Invoiced<img src="assets/Icons/SortUp&Down.svg"></div>
        </th>
        <th class="br0">
            <div>Actions</div>
        </th>
    </tr>
    <tr *ngFor="let d of data">
        <td class="bl0">
            <div><input type="checkbox">{{d.id}}</div>
        </td>
        <td>
            <div>{{d.description}}</div>
        </td>
        <td>
            <div>{{d.date}}</div>
        </td>
        <td>
            <div>{{d.quantity}}</div>
        </td>
        <td>
            <div>{{d.invoiced}}</div>
        </td>
    </tr>
</table>