<table class="data-table">
    <tr>
        <th class="bl0">
            <div><input type="checkbox">Job#<img src="assets/Icons/SortUp&Down.svg"></div>
        </th>
        <th>
            <div>Job Description</div>
        </th>
        <th>
            <div>Date<img src="assets/Icons/SortUp&Down.svg"></div>
        </th>
        <th>
            <div>Total Quantity<img src="assets/Icons/SortUp&Down.svg"></div>
        </th>
        <th>
            <div>Invoiced<img src="assets/Icons/SortUp&Down.svg"></div>
        </th>
        <th class="br0">
            <div>Actions</div>
        </th>
    </tr>
    <tr>
        <td class="bl0">
            <div><input type="checkbox">Job#</div>
        </td>
        <td>$100</td>
    </tr>
</table>