@use 'src/assets/scss/Abstract/mixinsTypo' as Mix;
@use 'src/assets/scss/Abstract/variables' as Var;

.data-table {
    border-collapse: collapse;
    width: 100%;

    .quantity {
        width: 140px;
        box-sizing: border-box;
    }

    th {
        border: 1px solid Var.$Gray-3;
        height: 4rem;
        padding-left: 1rem;
        padding-right: 1rem;

        div {
            @include Mix.Th;
            display: flex;
            align-items: center;

            input[type="checkbox"] {
                margin: 0;
                border: 2px solid Var.$Secondary-Color;
                border-radius: 4px;
                width: 1.5rem;
                height: 1.5rem;
                margin-right: 1rem;
            }

            img {
                margin-left: 0.5rem;
                width: 7px;
            }
        }
    }

    td {
        padding-left: 1rem;
        padding-right: 1rem;
        height: 3.125rem;
        box-sizing: border-box;

        .quantity-block {
            justify-content: flex-end;
        }

        .id {
            @include Mix.Tr-Bold;
            color: Var.$Secondary-Color;
        }

        div {
            @include Mix.Tr;
            display: flex;
            align-items: center;

            img:hover {
                cursor: pointer;
            }
        }

        .invoiced-block {
            justify-content: space-between;

            span {
                @include Mix.Tr-Bold;
            }
        }

        input[type="checkbox"] {
            margin: 0;
            border: 2px solid Var.$Secondary-Color;
            border-radius: 4px;
            width: 1.5rem;
            height: 1.5rem;
            margin-right: 1rem;
        }
    }

    td:last-of-type {
        display: flex;
        justify-content: flex-end;
    }

    .bl0 {
        border-left: 0;
    }

    .br0 {
        border-right: 0;
    }

    .mr1 {
        margin-right: 1rem;
    }
}