@use 'src/assets/scss/Abstract/variables' as Var;

.common-login-section {
    height: 100%;
    background-size: 100% 100%;
    background-image: url("/assets/Backgrounds/Home-page-background1.png");
    background-color: Var.$Primary-Color
}

.common-login-div-desktop {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.common-login-div-desktop>div {
    display: flex;
    align-items: center;
}

.form-container {
    width: 32.5%;
    height: 35.3125rem;
}

.logo-container {
    width: 35.4%;
    height: 26.375rem;
}

.logo-container-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

@media screen and (max-width: 992px) {
    .form-container {
        width: 56%;
    }
}

@media screen and (max-width: 576px) {

    .common-login-section {
        height: auto;
    }

    .common-login-div-desktop {
        display: none;
    }

    .common-login-div-mobile {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-height: 854px) and (max-width: 576px) {
    .common-login-section {
        height: 100%;
    }

    .common-login-div-mobile {
        height: 100%;
    }
}