<section class="user-section">
    <h3 class="heading">User Managemnet</h3>
    <table class="data-table">
        <tr>
            <th class="bl0">
                <div class="checkbox_parent">
                    <span class="custom_checkbox" (click)="toggleAllCheckbox()"
                        [ngStyle]="{'visibility': !groupCheckBoxState ? 'visible' : 'hidden'}"></span>
                    <img src="/assets/Icons/Checkbox_Checked.svg" class="checkboxIcon" (click)="toggleAllCheckbox()"
                        [ngStyle]="{'visibility': groupCheckBoxState ? 'visible' : 'hidden'}">
                    Employee Id<img src=" assets/Icons/SortUp&Down.svg" class="sortIcon">
                </div>
            </th>
            <th>
                <div>Employee Name<img src=" assets/Icons/SortUp&Down.svg" class="sortIcon"></div>
            </th>
            <th>
                <div>Email<img src=" assets/Icons/SortUp&Down.svg" class="sortIcon"></div>
            </th>
            <th>
                <div>Role<img src=" assets/Icons/SortUp&Down.svg" class="sortIcon"></div>
            </th>
            <th>
                <div>Password</div>
            </th>
            <th>
                <div>Status</div>
            </th>
            <th>
                <div>Password Reset</div>
            </th>
            <th class="br0">
                <div>Actions</div>
            </th>
        </tr>
        <tr *ngFor="let d of data; even as isEven; odd as isOdd;trackBy: trackByIndex;let i = index;"
            [ngStyle]="{ 'background-color': isEven ? '#e5eef5':'#ffffff'}">
            <td class="bl0">
                <div class="checkbox_parent">
                    <span class="custom_checkbox" (click)="changeCheckBoxState(i)"
                        [ngStyle]="{'visibility': !d.checkboxState ? 'visible' : 'hidden'}">
                    </span>
                    <img src="/assets/Icons/Checkbox_Checked.svg" class="checkboxIcon" (click)="changeCheckBoxState(i)"
                        [ngStyle]="{'visibility': d.checkboxState ? 'visible' : 'hidden'}">
                    <span>{{d.id}}</span>
                </div>
            </td>
            <td>
                <div><span class="profile-block"></span>{{d.name}}</div>
            </td>
            <td>
                <div>{{d.email}}</div>
            </td>
            <td>
                <div>{{d.role}}</div>
            </td>
            <td>
                <div class="password-block">
                    <span>{{d.password | hiddenPassword}}</span>
                    <img src="assets/Icons/hide.svg">
                </div>
            </td>
            <td>
                <div class="toggle_btn"><input type="checkbox" value="d.checkboxState" checked={{d.status}}></div>
            </td>
            <td>
                <div class="resetBtn">Reset</div>
            </td>
            <td>
                <div>
                    <img src="assets/Icons/Edit.svg" class="mr1" (click)="openEdit(d.id)">
                    <img src="assets/Icons/Delete.svg" (click)="deleteRow()">
                </div>
            </td>
        </tr>
    </table>
    <app-table-footer [positionLast]=false>
        <button class="addBtn" (click)="openAdd()">Add</button>
    </app-table-footer>
</section>