@use 'src/assets/scss/Abstract/mixinsTypo' as Mix;
@use 'src/assets/scss/Abstract/variables' as Var;

.copyrightInfo-Block {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 576px) {
        height: 6.1rem;
    }

    .copyrightInfo {
        @include Mix.H6;
        color: Var.$Tertiary-Color-Lighter;
        margin: 0;

    }
}