@use 'src/assets/scss/mixinsTypo' as Mix;
@use 'src/assets/scss/variables' as Var;

.copyrightInfo {
    @include Mix.H6;
    color: Var.$Tertiary-Color-Lighter;
    margin: 0;
    margin-top: 7.4375rem;
}